.header {
    display: flex;
    justify-content: space-between;
    background-color: #E63946;
    color: white;
    padding: 0 40px;
    align-items: center;

    .is-active{
        span{
           color: black;
        }
        
    }

    .log-container {
        display: flex;
        justify-content: space-between;
        width: 10%;
        
    }
    span {
       
        color: white;
        
    }
}